.history-list
  li
    margin 1em
  .remove
    color red
  .add
    color #337ab7
  .replace
    color green

#history .page-title
  a, a:hover
    color #000
    text-decoration none

#history .array-length
  margin-bottom -5px
