/* data-table */
.index-table
  margin-top 3em
  tr td:first-child
    text-transform capitalize
    cursor pointer
  tr td:first-child:hover
    color #337ab7

#contract-index tbody
  td.js-suppliers a
    text-transform capitalize
  td.js-ocid, td.js-dependency, td.js-title
    cursor pointer
    color #337ab7
    &:hover
      text-decoration underline
