/* similar */
#similarities
  td.similar-actions a
    margin 0 .3em
  tr.parent .simple i
    color #5cb85c

.hunk
  li
    margin 1em
  .remove
    color red
  .add
    color #337ab7
  .replace
    color green
