.slider-output output
  margin-top 50% 

.contract_amount_cell
  text-align: right

#contract_tab_chart
  width: 100%
  height:187px

#years_custom
  width:400px
  height:187px

#contract-detail-table_filter
  display: none

.nvd3 text
  font-family: inherit !important
  font-size: 10px !important

.nvtooltip
  font-family: serif !important
  font-size: 10px !important

.nvd3 .title
  font-family: serif !important

#contracts_per_year text
  font-weight: bold !important

.nv-axisMaxMin text
  font-weight: normal !important

.nv-axisMaxMin-x text
  font-weight: normal !important

.slider-output
  font-size: small !important

.periods-cell li
  padding-right 0

.periods-cell li:after
  content: ","

.periods-cell li:last-child:after
  content: "";

#contract-detail-table tbody
  td.js-suppliers a
    text-transform capitalize
  td.js-ocid, td.js-dependency, td.js-title
    cursor pointer
    color #337ab7
    &:hover
      text-decoration underline
