<template name="contactForm">
    <div class="container contact-template">
        <div class="col-m-12 col-12 mb-1">
            <h1>Contacto</h1>
            {{#autoForm schema=contactFormSchema id="contactForm" type="method" meteormethod="sendEmail"}}
                <fieldset>
                    {{> afQuickField name="contact_name"}}
                    {{> afQuickField name="subject"}}
                    {{> afQuickField name="email"}}
                    {{> afQuickField name="message" rows=10}}
                    <!-- <div class="antispam">
                        {{> afQuickField name="antispam"}}
                    </div> -->
                    <div>
                        <button type="submit" class="btn contact-submit">Enviar</button>
                        <button type="reset" class="btn btn-default">Resetear</button>
                    </div>
                </fieldset>
            {{/autoForm}}
        </div>
    </div>
</template>

<template name="contactSuccess">
    <div class="container">
        <div class="col-m-12 col-12 mb-1">
            <h1 class="page-title">{{__ 'Success'}}</h1>
            <div class="message">{{__ 'Mail successfully sent'}}</div>
        </div>
    </div>
</template>
