header .navbar
  background-color auxColor
  color backgroundColor

header .navbar a
  color backgroundColor

header .navbar a:hover
  color auxColor

header .navbar .active a
  color auxColor
  background-color #eee

.navbar-header button
  margin-right 12%

header .navbar-logo
  margin-top 5px

#sidebar .sidebar-item a.selected
    background-color #27272B
    color backgroundColor
    margin-left -100px
    padding-left 100px
    background-image url("/sidebar-selected.png")
    background-repeat no-repeat
    background-position 25px 50%
    background-size 8px 15px

#sidebar .subproject-sidebar-item, #sidebar .jobs-sidebar-item, #sidebar .sidebar-item
    padding-left 15px

#sidebar .subproject-sidebar-item a, #sidebar .jobs-sidebar-item a, #sidebar .sidebar-item a
    display block
    color #27272B
    text-decoration none
    padding 8px 8px 8px 0px
    margin 8px 0px

#add_one
  width 100%

#login-other-options a
  color #337ab7

/* Empieza BETA ribbon https://css-tricks.com/snippets/css/corner-ribbon/ */

.ribbon-wrapper-green
  width 85px
  height 88px
  overflow hidden
  position absolute
  top -3px
  right -3px

.ribbon-green
  font bold 15px Sans-Serif
  color #333
  text-align center
  text-shadow rgba(255,255,255,0.5) 0px 1px 0px
  -webkit-transform rotate(45deg)
  -moz-transform    rotate(45deg)
  -ms-transform     rotate(45deg)
  -o-transform      rotate(45deg)
  position relative
  padding 7px 0
  left -5px
  top 15px
  width 120px
  background-color #BFDC7A
  background-image -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45))
  background-image -webkit-linear-gradient(top, #BFDC7A, #8EBF45)
  background-image    -moz-linear-gradient(top, #BFDC7A, #8EBF45)
  background-image     -ms-linear-gradient(top, #BFDC7A, #8EBF45)
  background-image      -o-linear-gradient(top, #BFDC7A, #8EBF45)
  color #6a6340
  -webkit-box-shadow 0px 0px 3px rgba(0,0,0,0.3)
  -moz-box-shadow    0px 0px 3px rgba(0,0,0,0.3)
  box-shadow         0px 0px 3px rgba(0,0,0,0.3)
  z-index 9999

.ribbon-green:before, .ribbon-green:after
  content ""
  border-top   3px solid #6e8900
  border-left  3px solid transparent
  border-right 3px solid transparent
  position absolute
  bottom -3px

.ribbon-green:before
  left 0

.ribbon-green:after
  right 0

/* Termina BETA ribbon https://css-tricks.com/snippets/css/corner-ribbon/ */
