#granbuscador
  margin 2em auto
  padding .5em
  width 400px
  .autosuggest ul.suggestions
    width 385px
  .autosuggest .search-input-spinner
    position absolute
    right 10px
    top 5px
    i
      color auxColor

.autosuggest
  position relative
  ul.suggestions
    background-color backgroundColor
    position absolute
    top 33px
    box-sizing border-box
    box-shadow 2px 2px 4px #000
    z-index 9999
    li
      margin .5em .5em .5em 1em
      i
        margin-right 5pt

header .navbar .autosuggest a, .autosuggest a
  color auxColor

header .navbar .autosuggest i, .autosuggest i
    color #ddd
