#dash-content-links div
  padding 5px
  border 1px solid #ddd
  border-bottom none

#user-details ul
  margin 5px

.clear
  clear both

#dash-page-one, #dash-page-two
  height 100vh

#user-documents
  padding-top 3em

li.user-log-entry h3
  border-bottom 1px solid #ddd
