.viz-legend
  position absolute
  bottom 10px
  right 0
  z-index 1000

.inset-shadow
  box-shadow  inset 0 0 4px #000
  background-color rgba(221, 221, 221, 0.5)

.viz-controls
  position absolute
  top 20px
  right 0
  z-index 1000
  width 100px

h2.viz.page-title
  position absolute
  top 65px
  left 10px
  z-index 1000

.viz-legend li
  margin-right 10px

.viz-legend span
  border 1px solid #ccc
  width 12px
  height 12px
  margin 2px
  float left

.viz-legend span.image
  border none
  color #ccc

.viz-legend li:hover, .viz-controls li:hover
  cursor pointer
  color #000
  text-shadow 1px 1px 1px #ccc

.viz-legend .origin .block
  background-color #2a0f25
.viz-legend .board .block
  background-color #28365f
.viz-legend .shares .block
  background-color #226e50
.viz-legend .shareholder .block
  background-color #6d7e34
.viz-legend .parent .block
  background-color #c47777
.viz-legend .suborg .block
  background-color #c496d9
.viz-legend .post .block
  background-color #acd1e7
.viz-legend .supplier .block
  background-color #d5f0da
.viz-legend .solicitor .block
  background-color #d5f0da

#visualization-cytoscape
  height 80vh
  width 100%

#imageModal .popup-image
  width 100%
  height auto

#imageModal .modal-body
  padding 0

#imageModal .modal-footer
  padding 5px
