.tableContainer
  display table
  border-spacing 1em
  border-collapse collapse
  margin 1em
  width 100%
  .trow
    display table-row
    .tcell
      padding .5em 1em
      display table-cell
      /* border 1px solid black */
      vertical-align middle
