/* footer */

#footer
  background-color auxColor
  border-color #F5F7F8
  padding-top 4em
  clear both
  @media only screen and (max-width : 320px)
    min-height: 100%
  @media only screen and (max-width : 480px)
    min-height: 100%

#footer a
  color backgroundColor

#footer .vinculadas_vs_leaks
  margin-bottom 15px

#footer .row
    margin-top 10px
    margin-bottom 15px

#logofooter
  padding-top 15px

.subtitle_footer
  color #C4D7E2
  text-transform uppercase

.quienesquienwiki_subtitle
  color #C4D7E2

.subitem_footer a
    font-size 11px

.subitem_footer a:hover
    text-decoration none
    color #009ADE

#footer .commons
    font-size 10px
    margin-top 20px
    margin-left 1em
