<template name="footer">
    <footer>
      <div class="row block">
        <div class="col-4 col-m-4">
          <p><a href="/about">Acerca de</a></p>
          <p><a href="/about/#user-content-codigo-apis-y-servicios">Código, APIs y servicios</a></p>
          <p><a href="/about/#user-content-fuentes">Fuentes y Metodología</a></p>
          <p><a href="/about/#user-content-estándares-de-datos">Estándares de datos</a></p>
          <p><a href="/privacy">Aviso de privacidad</a></p>
          <p><a href="/contact">Contacto</a></p>
        </div>
        <div class="col-4 col-m-4">
          <p><a href="/about/#user-content-organizaciones-aliadas">Organizaciones aliadas</a></p>

          <div class="owl-carousel">
              <!-- <a href="https://www.projectpoder.org/es/" target="_blank">
                  <div class="logos-orgs logo-poder"></div>
              </a>  -->
              <a href="https://winguweb.org/" target="_blank">
                  <div class="logos-orgs logo-wingu"></div>
              </a> 
              <a href="http://ojo-publico.com" target="_blank">
                  <div class="logos-orgs logo-ojopublico"></div>
              </a> 
              <a href="http://www.cargografias.org/" target="_blank">
                  <div class="logos-orgs logo-cargo"></div>
              </a> 
              <a href="https://mexicoleaks.mx/enviar-para.php?r=poder" target="_blank">
                  <div class="logos-orgs logo-ml"></div>
              </a> 
          </div>
        </div>
        <div class="col-4 col-m-4">
          <p>Proyecto promovido por:</p>
          <a href="https://www.projectpoder.org/es" target="_blank">
            <img class="mb-2" src="../../../images/logo-poder.png" alt="Project PODER">
          </a>
          <p>Con el apoyo de:</p>
          <a href="https://www.hivos.org/" target="_blank">
            <img class="logofooter-ml" src="../../../images/hivoslogo.png" alt="Hivos">
          </a>
          <a href="https://www.omidyar.com/" target="_blank">
            <img class="logofooter-pl" src="../../../images/Omidyar_logo.png" alt="Omidyar">
          </a>
        </div>
      </div>
  </footer>
</template>
