<template name="footer">
  <div id="footer">
    <div class="row">
      <div class="col-sm-12 col-md-12">

        <div class="item_footer_contenedor_qqw col-md-3 logopie hidden-xs">
          <div class="subitem_footer" id="logofooter">
            <img src="/images/retina.png" height="72" alt="alt_text">
          </div>
        </div>

        <div class="item_footer_contenedor_qqw col-md-3 col-sm-3 linkspie">
          <div class="quienesquienwiki_subtitle hidden-xs">
            QuiénEsQuién.Wiki
          </div>
          <div class="subitem_footer">
            <a href="/about">Acerca del proyecto</a>
          </div>
          <div class="subitem_footer">
            <a href="/privacy">Aviso de privacidad</a>
          </div>
          <div class="subitem_footer">
            <a href="//api.quienesquien.wiki/v1/docs" target="_blank">Documentación API</a>
          </div>
          <div class="subitem_footer">
            <a href="/contact">Contacto</a>
          </div>
          <div class="subitem_footer">
            <a href="https://github.com/ProjectPODER/QuienEsQuien" target="_blank">Código Fuente</a>
          </div>
        </div>

        <div class="item_footer_contenedor_qqw col-md-3 col-sm-3 linkspie">
          <div class="subtitle_footer">
            Organizaciones aliadas
          </div>
          <div class="subitem_footer">
            <a href="http://projectpoder.org/es" target="_blank">PODER (Latinoamericana)</a>
          </div>
          <div class="subitem_footer">
            <a href="http://www.winguweb.org/" target="_blank">Wingu (Argentina y México)</a>
          </div>
          <div class="subitem_footer">
            <a href="http://eluniversal.com.mx/periodismo-de-datos" target="_blank">El Universal Data (México)</a>
          </div>
          <div class="subitem_footer">
            <a href="http://www.cargografias.org/" target="_blank">Cargografias (Latinoamericana)</a>
          </div>
          <div class="subitem_footer">
            <a href="http://www.incidesocial.org/" target="_blank">Inicide (México)</a>
          </div>
          <div class="subitem_footer">
            <a href="http://ojo-publico.com/" target="_blank">Ojo Público (Perú)</a>
          </div>
        </div>

        <div class="item_footer_contenedor_qqw col-md-3 col-sm-3 linkspie">
          <div class="subtitle_footer">
            Plataformas vinculadas
          </div>
          <div class="subitem_footer">
            <a href="http://data.eluniversal.com.mx/contratistas-poder/" target="_blank">Los Contratistas del poder</a>
          </div>
          <div class="subitem_footer vinculadas_vs_leaks">
            <a href="http://vigilanciawiki.org/" target="_blank">Vigilancia Wiki</a>
          </div>
          <div class="subtitle_footer">
            Plataformas de filtración segura
          </div>
          <div class="subitem_footer">
            <a href="https://www.mexicoleaks.mx/poder" target="_blank">Méxicoleaks</a>
          </div>
          <div class="subitem_footer">
            <a href="https://leaks.pe/" target="_blank">Perúleaks</a>
          </div>
        </div>

      </div>
    </div>
    <div class="commons">El contenido está disponible bajo la licencia la licencia Creative Commons Atribución-CompartirIgual 4.0 Internacional - a menos que se indique lo contrario.</div>

  </div>
  {{> newVersionNotification}}
</template>
