html, body
  height 100%

#content
  min-height 100%

html, body
  font-size 100%

body
  margin-top 60px
  background-color #FFF
  overflow-x hidden

#main
  height 100%

header .navbar, #footer
  color #fff

table.reactive-table
  width 100%
  tr td:first-child:hover
    cursor pointer
    color #337ab7

a, .cursor-pointer
  cursor pointer

.bold
  font-weight bold

.antispam
  display none
