<template name="ApplicationLayout">
    <header>
      {{> header }}
    </header>

    {{> notifications }}

    <main>
      <div class="body-content">

        <aside class="col-m-2">
          {{> Aside }}
        </aside>

        <article class="col-m-12">
          {{> yield }}
        </article>

      </div>

    </main>
  {{> footer }}
  <script type="text/javascript">
    document.getElementById('navbar').classList.add('shrink');
  </script>
  <script type="text/javascript">
  GARecordPage = function(pageLocation) {
  ga('create', 'UA-122512835-1', 'auto');
  ga('send', 'pageview', {
    page: pageLocation
  });
  }
  </script>

</template>

<template name="Archivos">
  {{#each files }}{{this.url}}{{/each}}
</template>
