{
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "meteor": true
  },
  "plugins": [
    "meteor"
  ],
  "extends": [
    "airbnb/base",
    "eslint:recommended",
    "plugin:meteor/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "allowImportExportEverywhere": true
  },
  "globals": {
    "describe": true,
    "it": true,
    "before": true,
    "beforeEach": true
  },
  "settings": {
    "import/resolver": "meteor"
  },
  "rules": {
    "no-underscore-dangle": off,
    "import/extensions": ["off", "never"],
    "import/no-extraneous-dependencies": 0
    }
}
