backgroundColor = #fff
auxColor = #0a314e

@import '../imports/ui/layouts/main.styl';
@import '../imports/ui/layouts/app-body.styl';
@import '../imports/ui/style/perfil.styl';
@import '../imports/ui/style/notifications.styl';
@import '../imports/ui/components/dropzone/dropzone.styl';
@import '../imports/ui/components/visualizations/viz.styl';
@import '../imports/ui/components/similar/similar.styl';
@import '../imports/ui/components/footer.styl';
@import '../imports/ui/components/nav/nav.styl';
@import '../imports/ui/components/history/history.styl';
@import '../imports/ui/components/search/search.styl';
@import '../imports/ui/components/spin/spinner.styl';
@import '../imports/ui/components/contracts/contracts.styl';
@import '../imports/ui/components/unauthorized/unauthorized.styl';
@import '../imports/ui/pages/home/home.styl';
@import '../imports/ui/pages/404/404.styl';
@import '../imports/ui/pages/stats/stats.styl';
@import '../imports/ui/pages/lost/lost.styl';
@import '../imports/ui/pages/users/users.styl';
@import '../imports/ui/pages/index/index.styl';
